/* Загрузочный экран */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  color: #fff;
  z-index: 9999;
}

.loading-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #FFD600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.loader {
  border: 4px solid #fff;
  border-top: 4px solid #FFD600;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Анимация для круга */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
